
.filterContainer{
    width: 276px;
    border-radius: 10px !important;
}
.Header{
    text-align: center;
    border-bottom: 2px solid #cecece;
    margin-bottom: 16px ;
}

.years{
    background-color:  #c4e19a !important; 
    color: black;
    border-radius: 5px;
    width:85px !important;
    border-radius: 10px !important;
}

.Active{
    background-color: #7cba01 !important;
}

[type='radio'] {
    display: none; 
}
@media (max-width: 699.98px) { 
    .filterContainer{
        width: 300px;
    }
 }